################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LocationSearch/bin/Debug/netcoreapp3.1
/LocationSearch.Core/bin/Debug/netcoreapp3.1
/LocationSearch/obj
/LocationSearch.Core/obj
/LocationSearch.Data/bin/Debug/netcoreapp3.1
/LocationSearch.Data/obj/Debug/netcoreapp3.1/LocationSearch.Data.pdb
/LocationSearch.Data/obj/Debug/netcoreapp3.1/LocationSearch.Data.dll
/LocationSearch.Data/obj/Debug/netcoreapp3.1/LocationSearch.Data.csproj.CoreCompileInputs.cache
/LocationSearch.Data/obj/Debug/netcoreapp3.1/LocationSearch.Data.csproj.AssemblyReference.cache
/LocationSearch.Data/obj/project.nuget.cache
/LocationSearch/obj/Debug/netcoreapp3.1/Razor/Views
/LocationSearch/obj/Debug/netcoreapp3.1/staticwebassets
/LocationSearch/obj/Debug/netcoreapp3.1/LocationSearch.Views.pdb
/LocationSearch/obj/Debug/netcoreapp3.1/LocationSearch.TagHelpers.output.cache
/LocationSearch/obj/Debug/netcoreapp3.1/LocationSearch.TagHelpers.input.cache
/LocationSearch/obj/Debug/netcoreapp3.1/LocationSearch.RazorTargetAssemblyInfo.cs
/LocationSearch/obj/Debug/netcoreapp3.1/LocationSearch.RazorTargetAssemblyInfo.cache
/LocationSearch/obj/Debug/netcoreapp3.1/LocationSearch.RazorCoreGenerate.cache
/LocationSearch/obj/Debug/netcoreapp3.1/LocationSearch.pdb
/LocationSearch/obj/Debug/netcoreapp3.1/LocationSearch.MvcApplicationPartsAssemblyInfo.cache
/LocationSearch/obj/Debug/netcoreapp3.1/LocationSearch.genruntimeconfig.cache
/LocationSearch/obj/Debug/netcoreapp3.1/LocationSearch.dll
/LocationSearch/obj/Debug/netcoreapp3.1/LocationSearch.csproj.CoreCompileInputs.cache
/LocationSearch/obj/Debug/netcoreapp3.1/LocationSearch.csproj.CopyComplete
/LocationSearch/obj/Debug/netcoreapp3.1/LocationSearch.csproj.AssemblyReference.cache
/LocationSearch/obj/project.nuget.cache
/.vs/LocationSearch/DesignTimeBuild/.dtbcache.v2
/LocationSearch/bin/Release/netcoreapp3.1
/LocationSearch/Logs/Log-20211005.txt
/LocationSearch.Core/bin/Release/netcoreapp3.1
/LocationSearch.Data/bin/Release/netcoreapp3.1
/LocationSearch.Data/obj/Release/netcoreapp3.1
