<div class="col-md-12 mt-4">
    <table id="locationGrid" class="table table-striped table-bordered dt-responsive nowrap mt-4" style="width:100%" cellspacing="0">
        <thead>
            <tr>
                <th>Address</th>
                <th>Longitude</th>
                <th>Latitude</th>
                <th>Distance (in meters)</th>
            </tr>
        </thead>
    </table>
</div>